<div class="container text-center">
    <div class="row m-0">
        <div class="col-6">
            <h1>
                Come together with the like-minded to be your best self.
            </h1>
            <h5>
                At Peace of Mind we believe in the power of community support for mental health care needs.
            </h5>
            <p>
                Speak your mind without consequence.
            </p>
            <a href="/login">
                Sign Up/Log In
            </a>
        </div>
        <div class="col-6">
            <img src="/imgs/we-like-you.jpg" class="aboutImg">
        </div>
    </div>
    <div class="row m-0">
        <div class="col-6">
            <img src="/imgs/heart-hands.jpg" class="aboutImg">
        </div>
        <div class="col-6">
            <h1>
                24/7/365
            </h1>
            <h5>
                Have access to a large community of people who truly understand what you are going through and genuinely
                want to help. Every minute. Every hour. Every day.
            </h5>
            <p>
                Don't struggle in silence.
            </p>
            <a href="/login">
                Sign Up/Log In
            </a>

        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <h1>
                Share your successes!
            </h1>
            <h5>
                Our community isn't just here for those times of need. Come tell us about your recent successes too!
                We're always happy to cheer you on!
            </h5>
            <p>
                Smile, you are enough.
            </p>
            <a href="/login">
                Sign Up/Log In
            </a>
        </div>
        <div class="col-6">
            <img src="/imgs/love-you.jpg" class="aboutImg">
        </div>
    </div>
</div>