<div class="card-comment">
    <div id="comment-history-card">
        <h2>Comments</h2>
        <div id="comment-history">
            {{#if comment.length}}
            <div>
                {{#each comment as |comment|}}
                {{> comment-partials comment}}
                {{/each}}
            </div>
            {{/if}}
        </div>
    </div>
    <div class="card comment">
        <h2 class="card-header">Share your thoughts:</h2>
        <form class="card-body" id="new-comment-form">
            <input type="hidden" name="post-id" value="{{post.id}}" />
            <div>
                <label class="form-label d-block">Comment:</label>
                <textarea class="form-textarea form-input" name="comment-body" data-number="8"></textarea>
            </div>

            <button type="submit" class="btn"><img class="icons" src="/imgs/save-icon.png"></button>
        </form>
    </div>