{{#if loggedIn}}
<div>
    <h2>You are signed in as {{user.user_name}}! </h2>
</div>
{{/if}}
</div>
<br>
{{#if posts.length}}
<div>
    {{#each posts as |post|}}
    {{> dashboard-partials post}}
    {{/each}}
</div>
{{/if}}