<div class="card posts">
    <div class="card-header">
        <h2 class="d-inline">Edit Post</h2>
        <button class="btn d-inline" form="edit-post-form" type="submit"><img class="icons"
                src="/imgs/save-icon.png"></button>
        <button class="btn d-inline" type="submit" form="edit-post-form" id="delete-btn"><img class="icons"
                src="/imgs/delete-icon.png"></button>
    </div>
    <form class="card-body" id="edit-post-form">
        <input type="hidden" name="post-id" value="{{post.id}}" />
        <div>
            <label class="form-label">Title</label>
            <input class="form-input d-block" type="text" name="post-title" value="{{post.title}}" />
        </div>
        <div>
            <label class="form-label">Content</label>
            <textarea class="form-textarea form-input d-block" name="post-body"
                data-number="8">{{post.content}}</textarea>
        </div>
    </form>
</div>
<script src="/js/edit.js"></script>