<section class="d-flex flex-column flex-md-row justify-content-center align-items-center" title="loginCards"
  id="login-card-section">

  <div class="card d-flex flex-column justify-content-center loginCard" id="login-card">
    <h2 class="card-header">Log In:</h2>
    <form class="card-body login-form postTexts login-form">
      <div class="form-group">
        <label class="form-label">Username:</label>
        <input class="form-input d-block" type="text" id="username-input-login" />
      </div>
      <div class="form-group">
        <label class="form-label">Password:</label>
        <input class="form-input d-block" type="password" id="password-input-login" />
      </div>
      <div class="form-group">
        <button class="loginButtons" type="submit">Log In</button>
      </div>
    </form>
  </div>

  <span id="loginOr">OR</span>

  <div class="card loginCard">
    <h2 class="card-header">Sign Up:</h2>
    <form class="card-body signup-form postTexts">
      <div class="form-group">
        <label class="form-label">Username:</label>
        <input class="form-input d-block" type="text" id="username-input-signup" />
      </div>
      <div class="form-group">
        <label class="form-label">Password:</label>
        <input class="form-input d-block" type="password" id="password-input-signup" />
      </div>
      <div class="form-group">
        <button class="loginButtons" type="submit">Sign Up</button>
      </div>
    </form>
  </div>
</section>

<script src="/js/loginsignup.js"></script>